body{
    text-align: center;
}
.line{
    height: 6px;
    background-color: black;
    width: 80px;
    margin: 8px auto;
}
img{
    transition: transform .2s;
    width: 200px;
    margin: 25px;
}
img:hover{
    transform: scale(1.5);
}
h1{
    font-size: 40px;
}